@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:-moz-selection {
    background-color: transparent;
}

:root {
    color-scheme: dark;
}

::selection {
    background-color: transparent;
}

html{
    font-size: 0.8vw;
}

body {
    font-family: 'Roboto';
    color: white;
    background-color: black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default !important;
}

.box {
    padding: 1rem;
    border-radius: 4rem;
}

.control,
.workBreakDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.workBreakDisplay div {
    padding: 2rem 4rem;
    border-radius: 4rem;
    border: solid;
    border-width: 0.5rem;
    background-color: black;
    color: white;
    transition: ease-in-out 200ms;
    flex: 1;
    text-align: center;
    font-size: 6rem;
}

.time {
    font-size: 32rem;
    font-family: "Roboto";
    font-variant-numeric: tabular-nums;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-variant-numeric: tabular-nums;
    cursor: default;
}

.control button {
    padding: 2rem 4rem;
    border-radius: 4rem;
    border: solid;
    border-width: 0.5rem;
    background-color: black;
    color: white;
    transition: ease-in-out 200ms;
    flex: 1;
}

.control button:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 200ms;
    cursor: pointer;
    border-color: white;
}

.startStop {
    font-size: 6rem;
}

.time {
    display: flex;
}

.seperator {
    font-family: serif !important;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart {
    flex: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    background-color: transparent !important;
    color: white;
    transition: ease-in-out 200ms;
    height: 12rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinspin {
    animation: spinspin 1s ease-in-out;
    color: gray;
}

@keyframes spinspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.restart:hover {
    cursor: pointer;
    color: white !important;
}

.display-active {
    background-color: #90e0ef !important;
    border-color: #90e0ef !important;
    color: black !important;
}