@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Phantom Sans';
    src: url('/asset/fonts/PhantomSans/Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Phantom Sans';
    color: white;
    background-color: black;
    font-size: 64px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default !important;
}

.box {
    padding: 8px;
    border-radius: 32px;
}

.control,
.workBreakDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.workBreakDisplay div {
    padding: 8px 32px;
    border-radius: 16px;
    border: solid;
    border-width: 3px;
    background-color: black;
    color: white;
    transition: ease-in-out 200ms;
    flex: 1;
    text-align: center;
}

.time {
    font-size: 256px;
    font-family: "Azeret Mono";
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.control button {
    padding: 8px 32px;
    border-radius: 16px;
    border: solid;
    border-width: 3px;
    background-color: black;
    color: white;
    transition: ease-in-out 200ms;
    flex: 1;
}

.control button:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 200ms;
    cursor: pointer;
    border-color: white;
}

.startStop {
    font-size: 64px;
}

.time {
    display: flex;
}

.seperator {
    font-family: serif !important;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restart {
    flex: 0 !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    background-color: transparent !important;
    color: white;
    transition: ease-in-out 200ms;
    height: 96px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinspin {
    animation: spinspin 1s ease-in-out;
    color: gray;
}

@keyframes spinspin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.restart:hover {
    cursor: pointer;
    color: white !important;
}

.display-active {
    background-color: #90e0ef !important;
    border-color: #90e0ef !important;
    color: black !important;
}